
@{
    ViewBag.Name = "users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<md-card ng-init="checkRole(
     '/Administration/IsUserSystemAdmin')"
         class="md-whiteframe-3dp"
         layout="column" layout-fill
         ng-controller="tableController">
    <div layout="column" flex
         ng-init="init('Name',
     '/Administration/GetUsers',
     '/Administration/DeleteUsers',
     'Вы уверены, что хотите удалить выбранных пользователей?',
     'roleController', false)">
        <md-toolbar ng-init="enableAddOrEditOnAnotherPage('/Administration/User/')" class="md-table-toolbar md-default" ng-hide="query.selected.length">
            <div class="md-toolbar-tools">
                <md-icon>search</md-icon>
                <form flex ng-dirty ng-valid name="form.filter">
                    <input type="text" flex ng-model="query.filter.search" ng-model-options="filter.options" placeholder="Поиск">
                </form>
                <md-button ng-hide="!canEdit" class="md-icon-button" ng-click="addEntity()">
                    <md-icon>add</md-icon>
                    <md-tooltip md-direction="bottom" style="font-size:14px;">Добавить пользователя</md-tooltip>
                </md-button>
            </div>
        </md-toolbar>
        <md-toolbar class="md-table-toolbar md-alternate" ng-show="query.selected.length">
            <div class="md-toolbar-tools">
                <span>Ролей выбрано : {{query.selected.length}}</span>
                <span flex></span>
                <md-button class="md-icon-button" show ng-hide="query.selected.length!=1 || !canEdit" ng-click="editEntity(query.selected[0])">
                    <md-icon md-colors="{color: 'accent-500'}">edit</md-icon>
                    <md-tooltip md-direction="bottom" style="font-size:14px;">Редактировать выбранного пользователя</md-tooltip>
                </md-button>
                <md-button ng-hide="!canEdit" class="md-icon-button" ng-click="delete(query.selected)">
                    <md-icon md-colors="{color: 'accent-500'}">delete</md-icon>
                    <md-tooltip md-direction="bottom" style="font-size:14px;">Удалить выбранных пользователей</md-tooltip>
                </md-button>
            </div>
        </md-toolbar>
        <md-divider></md-divider>
        <md-table-container flex>
            <table md-table md-row-select="canEdit" multiple="true" ng-model="query.selected" md-progress="promise">
                <thead md-head md-order="query.order" md-on-reorder="query.getEntities">
                    <tr md-row>
                        <th md-column md-order-by="Login"><span class="md-subhead">Логин</span></th>
                        <th md-column md-order-by="Name"><span class="md-subhead">Имя</span></th>
                        <th md-column md-order-by="LastName"><span class="md-subhead">Фамилия</span></th>
                        <th md-column md-order-by="Patronymic"><span class="md-subhead">Отчество</span></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-auto-select md-row md-select="entity" ng-repeat="entity in query.entities">
                        <td md-cell>{{entity.Login}}</td>
                        <td md-cell>{{entity.Name}}</td>
                        <td md-cell>{{entity.LastName}}</td>
                        <td md-cell>{{entity.Patronymic}}</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination md-label="{page: 'Страница:', rowsPerPage: 'Записей на странице:', of: 'из'}"
                             md-page="query.page"
                             md-limit="query.limit"
                             md-limit-options="query.limitOptions"
                             md-total="{{query.total}}"
                             md-boundary-links="true"
                             md-on-paginate="query.getEntities">
        </md-table-pagination>
    </div>
</md-card>
<script src="~/Scripts/Andromeda/Controllers/andromeda.controller.table.js"></script>
<script src="~/Scripts/Andromeda/Controllers/andromeda.controller.role.js"></script>

