
@{
    ViewBag.Title = "user";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/ng-template" id="addOrEditForm.html">
    <md-dialog aria-label="AddOrEditItem" ng-controller="userRoleController">
        <div flex layout-padding layout-margin ng-show="loading" layout-fill layout-align="center center" layout="column">
            <span flex></span>
            <md-progress-circular md-diameter="96" md-mode="indeterminate"></md-progress-circular>
            <h2 class="md-title">
                {{message}}
            </h2>
            <span flex></span>
        </div>
        <form name="addOrEditForm" ng-hide="loading" ng-init="loadDialog()" action="" method="post" ng-submit="confirm()" ng-valid>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2 md-title>Роль пользователя</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="settings.closeDialog()">
                        <md-icon>close</md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-dialog-content>
                <div class="md-dialog-content">
                    <md-autocomplete name="role" required
                                     md-no-chache="true"
                                     md-clear-button="true"
                                     md-selected-item="selectedRole"
                                     md-search-text="searchRole"
                                     md-items="item in getRoles()"
                                     md-item-text="item.Name"
                                     md-min-length="0"
                                     md-floating-label="Роль">
                        <md-item-template>
                            <span md-highlight-text="searchFaculty" md-highlight-flags="^i">{{item.Name}}</span>
                        </md-item-template>
                        <md-not-found>
                            Совпадений не найдено.
                        </md-not-found>
                        <div ng-messages="addOrEditForm.role.$error" multiple>
                            <div ng-message="required">
                                Пожалуйста заполните данное поле.
                            </div>
                        </div>
                    </md-autocomplete>
                    <md-autocomplete name="department" ng-hide="!selectedRole.TiedToDepartment"
                                     md-no-chache="true" ng-required="selectedRole.TiedToDepartment"
                                     md-clear-button="true"
                                     md-selected-item="selectedDepartment"
                                     md-search-text="searchDepartment"
                                     md-items="item in getDepartments()"
                                     md-item-text="item.Name"
                                     md-min-length="0"
                                     md-floating-label="Подразделение">
                        <md-item-template>
                            <span md-highlight-text="searchDepartment" md-highlight-flags="^i">{{item.Name}}</span>
                        </md-item-template>
                        <md-not-found>
                            Совпадений не найдено.
                        </md-not-found>
                        <div ng-messages="addOrEditForm.department.$error" multiple>
                            <div ng-message="required">
                                Пожалуйста заполните данное поле.
                            </div>
                        </div>
                    </md-autocomplete>
                </div>
            </md-dialog-content>
            <md-dialog-actions>
                <md-button class="md-primary" ng-click="confirm()" ng-disabled="addOrEditForm.$invalid">
                    Принять
                </md-button>
                <md-button class="md-alert" ng-click="clearFields()">
                    Отмена
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>
</script>
<div layout-fill ng-controller="userController">
    <div flex layout-padding layout-margin ng-show="settings.loading" layout-fill layout-align="center center" layout="column">
        <span flex></span>
        <md-progress-circular md-diameter="96" md-mode="indeterminate"></md-progress-circular>
        <h2 class="md-title">
            {{message}}
        </h2>
        <span flex></span>
    </div>
    <md-card ng-hide="settings.loading" ng-init="loadDialog()">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Пользователь</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div layout="column">
                <div layout="row">
                    <md-input-container flex class="md-block">
                        <label>Фамилия</label>
                        <input required name="lastName" ng-model="entity.LastName" md-maxlength="50" md-autofocus>
                        <div ng-messages="addOrEditForm.lastName.$error" multiple>
                            <div ng-message="required">
                                Пожалуйста заполните данное поле.
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container flex class="md-block">
                        <label>Имя</label>
                        <input required name="name" ng-model="entity.Name" md-maxlength="50">
                        <div ng-messages="addOrEditForm.name.$error" multiple>
                            <div ng-message="required">
                                Пожалуйста заполните данное поле.
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container flex class="md-block">
                        <label>Отчество</label>
                        <input name="patronimyc" ng-model="entity.Patronimyc" md-maxlength="50">
                        <div ng-messages="addOrEditForm.patronimyc.$error" multiple>
                            <div ng-message="required">
                                Пожалуйста заполните данное поле.
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container flex class="md-block">
                        <label>Логин</label>
                        <input required name="login" ng-model="entity.Login" md-maxlength="50">
                        <div ng-messages="addOrEditForm.login.$error" multiple>
                            <div ng-message="required">
                                Пожалуйста заполните данное поле.
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container flex class="md-block">
                        <label>Пароль</label>
                        <input required name="password" ng-model="entity.Password" md-maxlength="50">
                        <div ng-messages="addOrEditForm.password.$error" multiple>
                            <div ng-message="required">
                                Пожалуйста заполните данное поле.
                            </div>
                        </div>
                    </md-input-container>
                    <md-autocomplete name="academicTitle" flex
                                     md-no-chache="true"
                                     md-clear-button="true"
                                     md-selected-item="settings.selectedAcademicTitle"
                                     md-search-text="settings.searchAcademicTitle"
                                     md-items="item in getAcademicTitles()"
                                     md-item-text="item.Name"
                                     md-min-length="0"
                                     md-floating-label="Ученое звание">
                        <md-item-template>
                            <span md-highlight-text="settings.searchAcademicTitle" md-highlight-flags="^i">{{item.Name}}</span>
                        </md-item-template>
                        <md-not-found>
                            Совпадений не найдено.
                        </md-not-found>
                        <div ng-messages="addOrEditForm.faculty.$error" multiple>
                            <div ng-message="required">
                                Пожалуйста заполните данное поле.
                            </div>
                        </div>
                    </md-autocomplete>
                </div>
                <md-chips flex md-autocomplete-snap md-require-match="true" ng-model="entity.AcademicDegrees"
                          md-transform-chip="settings.transformChip($chip)">
                    <md-autocomplete md-autoselect md-no-cache="true"
                                     md-search-text="settings.searchAcademicDegree"
                                     md-items="item in getNotUserAcademicDegrees()"
                                     md-item-text="item.Name"
                                     placeholder="Ученые степени">
                        <md-item-template>
                            <span md-highlight-text="settings.searchAcademicDegree" md-highlight-flags="^i">{{ item.Name }}</span>
                        </md-item-template>
                        <md-not-found>
                            Совпадений не найдено.
                        </md-not-found>
                    </md-autocomplete>
                    <md-chip-template>
                        <span>{{ $chip.Name }}</span>
                    </md-chip-template>
                </md-chips>
            </div>
            <div layout="column" layout-fill>
                <div layout="column" flex>
                    <md-toolbar class="md-table-toolbar md-default" ng-hide="roles.selected.length">
                        <div class="md-toolbar-tools">
                            <md-icon>search</md-icon>
                            <form flex ng-dirty ng-valid name="form.filter">
                                <input type="text" flex ng-model="roles.filter.search" ng-model-options="filter.options" placeholder="Роли">
                            </form>
                            <md-button class="md-icon-button" ng-click="addEntity()">
                                <md-icon>add</md-icon>
                                <md-tooltip md-direction="bottom" style="font-size:14px;">Добавить роль</md-tooltip>
                            </md-button>
                        </div>
                    </md-toolbar>
                    <md-toolbar class="md-table-toolbar md-alternate" ng-show="roles.selected.length">
                        <div class="md-toolbar-tools">
                            <span>Ролей выбрано : {{roles.selected.length}}</span>
                            <span flex></span>
                            <md-button class="md-icon-button" ng-show="roles.selected.length==1" ng-click="editEntity(roles.selected[0])">
                                <md-icon md-colors="{color: 'accent-500'}">edit</md-icon>
                                <md-tooltip md-direction="bottom" style="font-size:14px;">Редактировать выбранную роль</md-tooltip>
                            </md-button>
                            <md-button class="md-icon-button" ng-click="delete(roles.selected)">
                                <md-icon md-colors="{color: 'accent-500'}">delete</md-icon>
                                <md-tooltip md-direction="bottom" style="font-size:14px;">Удалить выбранные роли</md-tooltip>
                            </md-button>
                        </div>
                    </md-toolbar>
                    <md-divider></md-divider>
                    <md-table-container flex>
                        <table md-table md-row-select="true" multiple="true" ng-model="roles.selected" md-progress="promise">
                            <thead md-head md-order="roles.order">
                                <tr md-row>
                                    <th md-column md-order-by="Name"><span class="md-subhead">Наименование</span></th>
                                </tr>
                            </thead>
                            <tbody md-body>
                                <tr md-auto-select md-row md-select="entity" ng-repeat="entity in roles.entities | filter: { Name: roles.filter.search, EntityState: '!8' } | orderBy: roles.order | limitTo: roles.limit: (roles.page - 1) * roles.limit">
                                    <td md-cell>{{entity.Name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </md-table-container>
                    <md-table-pagination md-label="{page: 'Страница:', rowsPerPage: 'Записей на странице:', of: 'из'}"
                                         md-page="roles.page"
                                         md-limit="roles.limit"
                                         md-limit-options="roles.limitOptions"
                                         md-total="{{(roles.entities | filter: { Name: roles.filter.search, EntityState: '!8' }).length}}"
                                         md-boundary-links="true">
                    </md-table-pagination>
                </div>
            </div>
        </md-card-content>
        <md-card-actions>
            <div layout="row">
                <span flex></span>
                <md-button class="md-primary" ng-click="confirm()" ng-disabled="addOrEditForm.$invalid">
                    Принять
                </md-button>
                <md-button class="md-alert" ng-click="clearFields()">
                    Отмена
                </md-button>
            </div>
        </md-card-actions>
    </md-card>
</div>

<script src="~/Scripts/Andromeda/Controllers/andromeda.controller.userRole.js"></script>
<script src="~/Scripts/Andromeda/Controllers/andromeda.controller.user.js"></script>