md-toolbar.md-table-toolbar md-icon {
    margin-right: 16px;
}

md-toolbar.md-table-toolbar input {
    width: 100%;
    margin: 0;
    border: none;
}

    md-toolbar.md-table-toolbar input:focus {
        outline: none;
    }

div.md-toolbar-tools a.md-button {
    margin: 0 !important;
    height: 100%;
}

    div.md-toolbar-tools a.md-button > md-icon {
        height: auto;
        font-size: 36px !important;
        width: auto;
        margin: 0;
    }

.big-icon {
    font-size: 80px !important;
    height: 80px;
    width: 80px;
}

.medium-icon {
    font-size: 40px !important;
    height: 40px;
    width: 40px;
    margin: 0;
}

.medium-button {
    width: 60px;
    min-width: 60px !important;
}

md-chips {
    display: block;
}

md-toast {
    left: 0 !important;
    right: 0 !important;
    padding: 0 30% !important;
}

input {
    min-width:300px;
}